.DS_Store
*.out
*.in
Lane\ Detection/build
Lane\ Detection/*.xcodeproj
Traffic\ Recognition/build
Traffic\ Recognition/*.xcodeproj
Traffic\ Recognition/data/train
Traffic\ Recognition/data/valid
Traffic\ Recognition/data/test
Traffic\ Recognition/data/*.mp4
Traffic\ Recognition/data/*.h5
Traffic\ Recognition/data/GTSRB
Traffic\ Recognition/recognizer/.ipynb_checkpoints
Steering\ Control/save
Steering\ Control/__pycache__
