.DS_Store
*.out
*.in
Lane\ Detection/build
Lane\ Detection/*.xcodeproj
Traffic\ Signs\ Recognition/TrafficRecognition/build
Traffic\ Signs\ Recognition/TrafficRecognition/*.xcodeproj
Traffic\ Signs\ Recognition/data/test
Traffic\ Signs\ Recognition/data/valid
Traffic\ Signs\ Recognition/data/train
