.DS_Store
*.out
*.in
Lane\ Detection/build
Lane\ Detection/*.xcodeproj
TrafficRecognition/build
TrafficRecognition/*.xcodeproj
TrafficRecognition/data/train
TrafficRecognition/data/valid
TrafficRecognition/data/test
TrafficRecognition/data/*.mp4
Steering\ System/save

